body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .sidebar{
    flex:1; 
}

  .chatarea{
    flex: 2
}

.search{
    border-bottom: 1px solid gray
}

.searchImg{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
}

.searchForm{
    padding: 10px;
}

.userChat{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.userChat:hover{
    background-color: #2196f3;
}

span.userChatInfo{
    font-size: 18px;
    font-weight: 500;
}

p.userChatInfo{
    font-size: 14px;
    color: gray;
}

.chatInfo{
    height: 50px;
    background-color: #2196f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray
}

.chatbuttons{
    display: flex;
    gap: 10px;
}

.input{
    height: 50px;
    background-color: lightcoral;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.messages{
    background-color: lightblue;
    padding: 10px;
    height: calc(100%-160px);
    overflow-y: scroll;
}

.message{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.messageInfo{
    display: flex;
    flex-direction: column;
    color: grey;
    font-weight: 300;
}

img.messageInfo{
    width:40px;
    height:40px;
    border-radius: 50%;
    object-fit: cover;
}
.messageContent{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.owner{
    flex-direction: row-reverse;
}

p.owner{
    background-color: #2196f3;
    color: white;
    border-radius: 10px 0px 10px 10px;
    padding: 10px 20px;
    max-width: max-content;
    
}

p.messageContent{
    background-color: white;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 10px;
}

img.messageContent{
    width:50%;
}

input{
    width: '100%';
    border: none;
    outline: none;
    font-size: 18px;
    background-color: transparent;
}

.send{
    display: flex;
    align-items: center;
}